body{
    background: -webkit-linear-gradient(bottom, #4f397a, #8a74bc);
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    border-radius: 1rem;
    margin-bottom: 5%;
    width: 70%;
    border: 5px solid #ffea00;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 15%;
    margin-top: -3%;
    transform: rotate(29deg);
    background: -webkit-radial-gradient(circle, #add84b, #619737);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h1{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #4f397a;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    font-size:20px;
    background: -webkit-linear-gradient(#cd2f30, #f04d45, #cd2f30);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
